@page "/error"
@model TestTaskAPI.Pages.ErrorModel
@{
    ViewData["Title"] = "Ошибка";


<h1>Ошибка</h1>

<p>Произошла ошибка при обработке вашего запроса.</p>
<p>Пожалуйста, повторите попытку позже или свяжитесь с администратором.</p>
}
